.container-fluid {
    display: flex;
    margin: 200px 400px;
}

.btn-push {
    width: 200px;
    height: 100px;
    font-size: 30px;
    background-color: aqua;
    border-color: darkcyan;
}

.btn-push:hover {
    background-color: chartreuse;
}

.hi {
    display: flex;
    margin-top: -190px;
    margin-left: 400px;
    width: max-content;
    font-size: 30px;
    background-color: chartreuse;
}