body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 50px;
}

.div1 {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}

.div2 {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
}

.div3 {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: darkmagenta;
    border: 1px solid black;
}
